html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
}

.footer-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
  position: sticky;
  bottom: 0;
}